@use "variables" as *;
@use "mixins";

.card {
  @include mixins.flex(column);
  border: 0;
  position: relative;
  border-radius: $defaultBorderRadius;
  background-color: $primary;
  color: white;
  padding: $defaultPadding;

  &_full {
    flex-direction: row;
    background-color: transparent;

    .card__title {
      flex-grow: 0;
    }
  }

  &_compact {
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    border-radius: 0;

    .card__title {
      flex-grow: 1;
    }
  }

  &__column {
    @include mixins.flex(column);
    align-items: flex-start;
  }

  &__row {
    @include mixins.flex(row);
    align-items: center;
    gap: $defaultPadding;
  }

  &__image {
    height: 390px;
    aspect-ratio: 1;
    margin: 3.75rem;
  }
  &__title {
    font-size: $titleFontSize;
    font-weight: 500;
    margin: 0;
    flex-grow: 1;
    margin-top: calc(43px + 43px + 12px);
  }
  &__text {
    text-align: left;
    flex-grow: 1;
  }
  &__category {
    position: absolute;
    top: 43px;
    left: 43px;
    margin-bottom: 12px;
    padding: 10px 25px;
    border-radius: 50px;
    width: auto;
    min-width: 43px;
    height: auto;
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;

    &_soft {
      background-color: $category1;
    }
    &_hard {
      background-color: $category5;
    }
    &_other {
      background-color: $category2;
    }
    &_additional {
      background-color: $category3;
    }
    &_button {
      background-color: $category4;
    }
  }
  &__action {

  }
  &__price {
    position: absolute;
    left: 48px;
    bottom: 48px;
    margin-top: 75px;
    font-weight: 400;
    font-size: 30px;
  }
}