@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer;
  position: fixed; // Изменено с absolute на fixed
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center; // Добавлено для вертикального центрирования
  background-color: $overlayBackground;
  z-index: 1000; // Увеличено значение z-index
  overflow-y: auto; // Добавлено для прокрутки если контент не помещается
  padding: 20px; // Добавлен отступ для маленьких экранов

  &_active {
    display: flex;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);
    gap: $defaultPadding;
    background-color: $background;
    border-radius: 3rem;
    box-sizing: border-box;
    position: relative;
    max-height: 90vh; // Ограничение максимальной высоты
    overflow-y: auto; // Прокрутка внутри контейнера
    margin: auto; // Центрирование
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto; // Прокрутка контента если не помещается
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__actions {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2);
    right: calc(#{$defaultPadding} / 2);
    @include mixins.icon(2rem, 'close');
    @include mixins.link(white, $hover);
    z-index: 1; // Чтобы кнопка была над контентом
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__message {
    white-space: nowrap;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;

    &_error {
      color: $error;
    }
  }
}